<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.virginia.cs.cs4720.ispy" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboard"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:configChanges="keyboard|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/app_name"
            android:configChanges="keyboard|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraPhotoCapture"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:configChanges="keyboard|orientation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.virginia.cs.cs4720.ispy.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhotoView"
            android:label="PhotoView">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AndroidCustomGallery"
            android:label="@string/title_activity_android_custom_gallery"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.virginia.cs.cs4720.ispy.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEND" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PictureList"
            android:label="@string/title_activity_picture_list"
            android:parentActivityName=".MainActivity"
            android:configChanges="keyboard|orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.virginia.cs.cs4720.ispy.MainActivity" />
        </activity>
        <activity
            android:name=".GuessActivity"
            android:label="@string/title_activity_guess"
            android:parentActivityName=".PictureList"
            android:configChanges="keyboard|orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.virginia.cs.cs4720.ispy.PictureList" />
        </activity>
    </application>

</manifest>
